**/target
*.classpath
*.project
.settings/
SOAP/src/main/resources/email.properties
models/src/main/resources/hibernate.properties
batch/src/main/resources/connect.properties
SOAP/src/main/resources/hibernate.properties
