<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<import resource="classpath:META-INF/cxf/cxf.xml"/>

	
    <bean id="RunScheduler" class="fr.mb.biblio.batch.RunScheduler"/>


                  
    <jaxws:client id="pretClient"
                  serviceClass="fr.mb.biblio.batch.service.pret.PretService"
                  address="${service.pret}"> 
                  
                  <jaxws:outInterceptors>
                  <ref bean="wss4jOut"/>

                  </jaxws:outInterceptors>
    
    </jaxws:client>

    <jaxws:client id="resaClient"
                  serviceClass="fr.mb.biblio.batch.service.reservation.ResaService"
                  address="${service.resa}" />
	
	<!-- SCAN DES DIFFERENTS BEANS ANNOTES -->
  	<context:annotation-config/>
    <context:component-scan base-package="fr.mb.biblio.batch"/>
    
    
      	<!-- FICHIERS PROPERTIES A RECUPERER -->	
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
        <list>
			 <value>classpath:service.properties</value>
			 <value>classpath:connect.properties</value>
            <value>classpath:batch.properties</value>
        </list>
    </property>
	</bean>
	
<bean id="wss4jOut" class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
    <constructor-arg>
        <map>
            <entry key="action" value="UsernameToken" />
            <entry key="user" value="${connect.identifiant}"/>
            <entry key="passwordType" value="PasswordText" />
            <entry key="passwordCallbackClass"
                value="fr.mb.biblio.batch.security.UTPasswordCallback" />
        </map>
    </constructor-arg>
</bean>

  
	
</beans>
